body,
html{
	background-image: url(header.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: tangerine;
	font-size: 150%;
	

	text-decoration-color: white;


}
img{
	background-size: cover;
}
p{
	color: white;
}
div:hover{
	text-align: center;
	font-family: tangerine;
	color: red;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}
.btn{
	padding: 1px;
	color: red;
	border-radius: 300px;

}
.btn-primary{
	background-color: white;
}
.btn-primary{
	background-color: grey;
	font-family: georgia;
	font-size: 100%
	background-color:grey;
	border width: 4px;
}
.buffer{
	height: 10rem;
}